if SHIELD_COOL642TB_R

config ZMK_KEYBOARD_NAME
    default "cool642tb_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COOL642TB_L

config ZMK_KEYBOARD_NAME
    default "cool642tb_L"

config ZMK_SPLIT
    default y

endif
